#product .name {
    font-weight: bold;
    font-size: 24px;
}

#product .description {
    color: #999;
    margin-top: 10px;
}

#product .cart i,
#product .wishlist i {
    margin-left: 5px;
}

#newsletter .success-message {
    display:none;
}

#product .price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-color: #f1f4f8;
    margin-top: 20px;
}

footer .newsletter-container i {
    margin-left: 5px;
}

footer .copyright {
    background-color: rgb(233, 236, 239);
}